$dark: #131212d2;
$white: #fff;
$defaultStyle: 'dark';

@mixin table-style($style:$defaultStyle) {
    @if $style =='dark' {
        table,
        th,
        td {
            color: $white !important;
            background-color: $dark;
            margin: 5px;
            border: 1px solid $white;
        }
    }
    @else if($style =='light') {
        table,
        th,
        td {
            color: $dark !important;
            background-color: $white;
            margin: 5px;
            border: 1px solid $dark;
        }
    }
}

@mixin table-collapse-style {
    tr {
        :nth-child(1) {
            width: 30px !important;
        }
    }

    table>div {
        background-color: inherit !important;
    }
}

@mixin table-container-style($side:'left', $bgColor: inherit, $width: 50vw) {
    table {
        width: $width;
    }
    @if($side =='center') {
        width: min-content;
        height: min-content;
        margin-left: auto;
        margin-right: auto;
    }
    @else if($side =='right') {
        width: min-content;
        height: min-content;
        margin-left: auto;
    }
    @else {
        width: min-content;
        height: min-content;
    }

    background-color: $bgColor;
}

@mixin home-styles {
    .homeComponent {
        height: 100%;
        background-color: inherit;
    }
}