


$dark: #131212d2;
$white: #fff;
@mixin table-style {
    td, th {
        color: $white !important;
        background-color: $dark;
        margin: 5px;
        border: 1px solid $white;
    }
}

@mixin table-collapse-style {
    tr {
        :nth-child(1) {
            width: 30px !important;
        }
    }
    table > div {
        background-color: inherit !important;
    }
}

@mixin home-styles {
   .homeComponent {
    height: 100%;
    background-color: inherit;
   }
}