
@mixin home-styles {
    div {
        background-color: inherit;
    }
}

@mixin table-style {
    td, th {
        color: #fff !important;
        background-color: #131212d2;
        margin: 5px;
        border: 1px solid #fff;
    }
}
