
#fade-button {
    margin-top: 6vw;
    margin-left: 40vw;
}

@mixin HomeBrewOptionsBasicStyle {
    border: black solid 2px;
    width: 80vw;
    height: 85%;
    margin-top: 5vw;
    margin-left: 10vw;
}
